.products {
  padding-top: 40px;
  padding-bottom: 40px;
  .product {
    margin-bottom: 30px;
    a:hover {
      h3, p {
        color: $primary;
      }
      i {
        color: black;
      }
    }
  }
  @media (min-width:992px) {
    padding-top: 80px;
    padding-bottom: 0px;
    .product {
      margin-bottom: 60px;
    }
  }
}

.pages {
  margin-bottom: 40px;
  @media (min-width:992px) {
    margin-bottom: 60px;
  }
  .page-active {
    color: $primary;
    text-decoration: underline;
  }
}