*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, label, div, li, span, button, input {
  line-height: 1.5;
  a:hover {
    text-decoration: underline;
  }
}

img {
  display: block;
}

a:hover {
  text-decoration: none !important;
}