<nav class="container navbar navbar-expand-lg">
  <h1 class="navbar-brand"><a href="./index.html"><img src="assets/images/d’Perfume.png" alt="D'perfume"></a></h1>
  <a href="#" class="cart ml-auto d-lg-none">
    <i class="material-icons mr-1 c-tertiary">shopping_cart</i>
    <span class="badge badge-pill badge-primary">3</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="material-icons">
      menu
      </span>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
    <ul class="navbar-nav d-block d-lg-none">
      <li>
        <a href="./product.html" class="nav-item nav-link d-flex align-items-center c-tertiary fz-20">
          <p>Product</p>
        </a>
      </li>
      <li>
        <a href="#" class="nav-item nav-link d-flex align-items-center c-tertiary fz-20">
          <p>Wishlist</p>
        </a>
      </li>
      <li>
        <a href="#" class="nav-item nav-link navbar-expand d-flex align-items-center c-tertiary fz-20">
          <p>Blog</p>
        </a>
      </li>
      <li>
        <a href="#" class="nav-item nav-link navbar-expand d-flex align-items-center c-tertiary fz-20">
          <p>Contact</p>
        </a>
      </li>
      <li>
        <a href="#" class="nav-item nav-link d-flex align-items-center c-tertiary fz-20">
          <p>log in</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="d-none d-lg-block ml-auto" id="navbarNavAltMarkup">
    <ul class="d-flex">
      <li>
        <a href="./product.html" class="d-flex align-items-center mr-lg-6 c-tertiary fz-20">
          <i class="material-icons mr-1">store</i>
          <p>Product</p>
        </a>
      </li>
      <li>
        <a href="#" class="d-flex align-items-center mr-lg-6 c-tertiary fz-20">
          <i class="material-icons mr-1">person</i>
          <p>log in</p>
        </a>
      </li>
      <li>
        <a href="#" class="d-flex align-items-center mr-lg-6 c-tertiary fz-20">
          <i class="material-icons mr-1">favorite</i>
          <p>Wishlist</p>
        </a>
      </li>
      <li>
        <a href="#" class="d-flex align-items-center c-tertiary fz-20">
          <i class="material-icons mr-1">shopping_cart</i>
          <p>Cart(3)</p>
        </a>
      </li>
    </ul>
  </div>
</nav>