  .fz-12 {
    font-size: 0.75rem !important;
  }
  
  .fz-14 {
    font-size: 0.875rem !important;
  }
  
  .fz-16 {
    font-size: 1rem !important;
  }
  
  .fz-20  {
    font-size: 1.25rem !important;
  }
  
  .fz-24 {
    font-size: 1.5rem !important;
  }
  
  .fz-28 {
    font-size: 28px !important;
  }
  
  .fz-32 {
    font-size: 2rem !important;
  }
  
  .fz-36 {
    font-size: 2.25rem !important;
  }
  
  .fz-40 {
    font-size: 2.5rem !important;
  }

@media (min-width: 992px) {
  .fz-lg-12 {
    font-size: 0.75rem !important;
  }
  
  .fz-lg-14 {
    font-size: 0.875rem !important;
  }
  
  .fz-lg-16 {
    font-size: 1rem !important;
  }
  
  .fz-lg-20  {
    font-size: 1.25rem !important;
  }
  
  .fz-lg-24 {
    font-size: 1.5rem !important;
  }
  
  .fz-lg-28 {
    font-size: 28px !important;
  }
  
  .fz-lg-32 {
    font-size: 2rem !important;
  }
  
  .fz-lg-36 {
    font-size: 2.25rem !important;
  }
  
  .fz-lg-40 {
    font-size: 2.5rem !important;
  }
}

.font-weight-normal-bold {
  font-weight: 600;
}