@media (min-width: 992px) {
  .mb-lg-52 {
   margin-bottom: 52px;
  }
  .mb-lg-60 {
    margin-bottom: 60px;
   }
  .my-lg-60  {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
}
