.fz-12 {
  font-size: 0.75rem !important;
}

.fz-14 {
  font-size: 0.875rem !important;
}

.fz-16 {
  font-size: 1rem !important;
}

.fz-20  {
  font-size: 1.25rem !important;
}

.fz-24 {
  font-size: 1.5rem !important;
}

.fz-32 {
  font-size: 2rem !important;
}